p-chart {
    div {
        margin: 2em 15%;
    }
}

#ocs-feedback {
    align-content: center;
    align-items: center;
    display: flex;
}

.ocs-chart {
    float: left;
    height: 10rem;
    margin: 1em 3em 3em 0;
    width: 20rem;
}

.table-feedback {
    float: left;
    margin: 5em 0 0 6em;
}
