<app-title [hasInitiativeTitle]="true"></app-title>

<app-signature-alert icon="close" title="disabled.title" subtitle="disabled.subtitle"></app-signature-alert>

<div class="row">
    <div class="col-md-5 padding-container">
        <app-signatories></app-signatories>
        <app-carrousel></app-carrousel>
    </div>
    <div class="col-md-7 padding-container">
        <app-initiative [hasTitle]="true" [signatore]="true"></app-initiative>
    </div>
</div>

<app-support></app-support>
