<div class="row ocs-prefooter">
    <div class="ocs-prefooter-content">
        <div class="col-md-4 ocs-footer-block">
            <a id="get-informed" class="first-link" target="_blank"
                href="http://ec.europa.eu/citizens-initiative/public/basic-facts?lg={{urlLanguage()}}"
                title="{{ 'howsupport.s1.title' | translate }}">
                <div class="ocs-icon-first-link"></div>
                <div class="mt-3 ocs-external-link">
                    <p aria-hidden="true"><strong>{{ 'howsupport.s1.title'| translate }}</strong></p>
                    <p>{{ 'howsupport.s1.text'| translate }}
                        <i class="fa fa-external-link" attr.aria-label="{{ 'common.open-new-windows' | translate }}"></i>
                    </p>
                </div>
            </a>
        </div>
        <div class="col-md-4 ocs-footer-block">
            <a id="sign-up" class="second-link" target="_blank"
                href="http://ec.europa.eu/citizens-initiative/public/how-to-signup?lg={{urlLanguage()}}"
                title="{{ 'howsupport.s2.title' | translate }}">
                <div class="ocs-icon-second-link"></div>
                <div class="mt-3 ocs-external-link">
                    <p aria-hidden="true"><strong>{{ 'howsupport.s2.title'| translate }}</strong></p>
                    <p>{{ 'howsupport.s2.text'| translate }}
                        <i class="fa fa-external-link" attr.aria-label="{{ 'common.open-new-windows' | translate }}"></i>
                    </p>
                </div>
            </a>
        </div>
        <div class="col-md-4 ocs-footer-block">
            <a id="what-next" class="last-link" target="_blank"
                href="http://ec.europa.eu/citizens-initiative/public/how-it-works?lg={{urlLanguage()}}"
                title="{{ 'howsupport.s3.title' | translate }}">
                <div class="ocs-icon-last-link"></div>
                <div class="mt-3 ocs-external-link">
                    <p aria-hidden="true"><strong>{{ 'howsupport.s3.title'| translate }}</strong></p>
                    <p>{{ 'howsupport.s3.text'| translate }}
                        <i class="fa fa-external-link" attr.aria-label="{{ 'common.open-new-windows' | translate }}"></i>
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
