<app-title
    icon="hand"
    title="congratulations.title"
    subtitle="congratulations.successfully-title"
    class="ocs-icon-subtitle">
</app-title>
<div class="row">
    <div class="col-md-5 padding-container">
       <app-signature-identifier></app-signature-identifier>
       <app-stay-informed></app-stay-informed>
    </div>
    <div class="col-md-7 padding-container">
       <app-shared-social></app-shared-social>
       <app-feedback></app-feedback>
    </div>
</div>
<app-support></app-support>
