.ocs-login {
    margin: 0 0 0.9375rem;
    padding: 2em 0;
    position: relative;

    .ocs-panel-style {
        box-shadow: 0 0.1428em 0.285712em 0 rgba(0, 0, 0, 0.5);
        margin: 0 auto 1.5em;
        max-width: 50em;
        padding: 1.25em 2.5em 2em;
        width: 100%;
    }

    input {
        border: 0.0625em solid #bdbdbd;
        border-radius: 0.1875em;
        color: #424242 !important;
        padding: 0.66rem 0.75rem;
        width: 100%;
    }

    label {
        color: #222;
        display: block;
        font-size: 1.3em;
        margin: 0;
        overflow: hidden;
        padding-top: calc(0.5rem - 0.03125rem * 2);
        position: relative;

        span.ux-form-group__label {
            font-size: 1em;
        }
    }

    button.ocs-copy {
        align-items: center;
        background-color: transparent;
        border: none;
        border-left: 0.071428em solid #bbb;
        box-shadow: none;
        color: #0371ce;
        display: flex;
        font-size: 1rem;
        font-weight: 700;
        height: 17.4rem;
        padding: 0.875rem 0.9375rem;
        position: absolute;
        right: 0;
        text-align: left;
        text-transform: uppercase;
        top: 1.6em;
        width: 10rem;
        z-index: 1;
    }

    .ocs-login-challenge {
        margin: 0 0 0.9375rem;
        position: relative;

        ux-form-group {
            .ocs-title-label {
                color: #222;
                display: block;
                font-size: 0.875rem;
                margin: 0 0 0.3125rem;
                position: relative;
            }
        }

        textarea {
            padding-right: 11em;
        }

        .ux-form-group__read-only {
            background-color: #f5f5f5 !important;
            border: 0.0625em solid #bdbdbd;
            color: #757575 !important;
            font-family: "eui-default", Arial, "Helvetica Neue", Helvetica, sans-serif !important;
            font-size: 1em;
            font-style: normal !important;
            font-weight: normal !important;
            height: auto;
            padding: 0.66rem 11rem 0.75rem 0.66em !important;
            position: relative;
            width: 100%;
            word-wrap: break-word;
        }
    }
}
